<p>Hello <%= @fname %>,

Your account has been created!
The <%= @email_id%>  email was added to DEVISE_CLONE app !!
with the following details:

Name: <%=@fname%> <%= @lname %>
Mobile: <%=@mobile%>
Date of birth: <%= @dob %>

Click <a href="http://localhost:3000/account/login">here</a> to login 

Thanks
Postman