<hr width="45%"><h1>Forget Password?</h1><hr width="45%">
<%= flash[:notice] %>
<%= image_tag "forgotpassword.png", width:"200px"%>
<%= form_with url: "/password/forget_password", method: :post do |form| %>
    <div class= "field">
        <%= form.label :email_id %>
        <%= form.text_field :email_id %>
    </div><br>
    <div class= "actions">
        <%= form.submit "Get new password" %>
    </div>
<% end %><br>
<hr width="45%">
<%# <%= link_to "Forgot password?"%> %>