<hr width="45%"><h1>Reset Password?</h1><hr width="45%">
<%= flash[:notice] %>
<%= image_tag "reset_password.png", width:"250px"%>
<%= form_with url: "/password/reset_password", method: :post do |form| %>

    <% if @user.errors.any? %>
        <div id="error_explained">
            <h2><%= pluralize(@user.errors.count, "error")%></h2>
            <ul>
                <% @user.errors.full_messages.each do |message| %>
                <li> <%= message%> </li>
                <% end %>
            </ul><br>
        </div>
    <% end %>

    <div class= "field">
        <%= form.label :new_password %>
        <%= form.text_field :password, placeholder: "Enter password"%>
    </div><br>
    <div class= "field">
        <%= form.label :confirm_password %>
        <%= form.password_field :password_confirmation, placeholder: "Confirm password"%>
    </div><br>
    <div class= "actions">
        <%= form.submit "Reset password" %>
    </div>
<% end %><br>
<hr width="45%">