<hr width="45%"><h1>Edit Profile</h1><hr width="45%">
<%= flash[:notice] %>
<%= image_tag "edit_profile.png", width:"250px"%>
<%= form_with url: "/profile/edit_profile", method: :post do |form| %>
    
    <% if @user.errors.any? %>
        <div id="error_explained">
            <h2><%= pluralize(@user.errors.count, "error")%></h2>
            <ul>
                <% @user.errors.full_messages.each do |message| %>
                <li> <%= message%> </li>
                <% end %>
            </ul><br>
        </div>
    <% end %>

    <div class= "field">
        <%= form.label :first_name %>
        <%= form.text_field :first_name, :value=>@user.first_name %>
    </div><br>
    <div class= "field">
        <%= form.label :last_name %>
        <%= form.text_field :last_name, :value=>@user.last_name %>
    </div><br>
    <div class= "field">
        <%= form.label :mobile %>
        <%= form.number_field :mobile, :value=>@user.mobile %>
    </div><br>
    <div class= "field">
        <%= form.label :dob %>
        <%= form.date_field :dob, :value=>@user.dob %>
    </div><br>
    <%= form.file_field :image %><br><br>
    <div class= "actions">
        <%= form.submit "Submit" %>
    </div>
<% end %><br/>
<hr width="45%"><br/>